@using Solutions.Enums
@model Solutions.Models.PostViewModel
@{
    ViewBag.Title = "Edit";
}
@if (Request.IsAuthenticated)
{
    <div class="container">
        <div class="well">
            <h2>Add Solution</h2>
            @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Link, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.Link, new { @class = "form-control", @rows = "7" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Language, new { @class = "col-sm-4 control-label" })
                    <div class="dropdown col-sm-4">
                        @Html.DropDownListFor(m => m.Language,
                            new SelectList(Model.Languages),
                            new { @class = "btn btn-info col-sm-12" })
                    </div>
                </div>

                if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Verifies, new { @class = "col-sm-4 control-label" })
                        <div class="dropdown col-sm-4">
                            @Html.DropDownListFor(m => m.Verify,
                            new SelectList(Model.Verifies),
                            new { @class = "btn btn-info col-sm-12" })
                        </div>
                    </div>
                }
                else
                {
                   //Here must be placed by Defoult Verify = NotVerified
                }

                <div class="form-group">
                    @Html.LabelFor(m => m.ChapterId, new { @class = "col-sm-4 control-label" })
                    <div class="dropdown col-sm-4">
                        @Html.DropDownListFor(m => m.ChapterId,
                            new SelectList(Model.Chapters, "Id", "Title"), //name?
                            new { @class = "btn btn-info col-sm-12" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        @Html.ActionLink("Cancel", "Index", "Post", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{

    <div class="container">
        <div class="well">
            <h3>You dont have rights to post Solutions!</h3>
            <h3>Please, Register!</h3>

        </div>
    </div>
}